PROJECT_NAME=air-quality-monitoring
ENVIRONMENT=local

EPA_AQS_EMAIL=REPLACE-ME
EPA_AQS_KEY=REPLACE-ME
AQS_REQUEST_TIMEOUT_SECONDS=60
AQS_MIN_REQUEST_INTERVAL_SECONDS=5
AQS_MAX_RETRIES=3
AQS_RETRY_BACKOFF_FACTOR=1.0
AQS_GEOGRAPHY_MODE=auto
AQS_STATE_TO_COUNTY_SCORE_THRESHOLD=8000
AQS_BOOTSTRAP_START_YEAR=2026
AQS_BOOTSTRAP_REGION_IDS=
AQS_BOOTSTRAP_PARAMETERS=
AQS_SHARD_PARAMS_PER_REQUEST=5
AQS_BOOTSTRAP_BDATE=
AQS_BOOTSTRAP_EDATE=
AQS_BOOTSTRAP_WINDOW_GRANULARITY=year
AQS_RECONCILE_CBDATE=
AQS_RECONCILE_CEDATE=
AIRNOW_API_KEY=REPLACE-ME
AIRNOW_GAP_START_UTC=
AIRNOW_GAP_END_UTC=
AIRNOW_GAP_CHUNK_HOURS=6
AIRNOW_GAP_FALLBACK_HOURS=6
AIRNOW_NORMALIZE_HOURLY_MANIFEST_LIMIT=100
AIRNOW_NORMALIZE_GAP_MANIFEST_LIMIT=100
LOAD_POSTGRES_BATCH_SIZE=5000

POSTGRES_HOST=postgres-rw.storage.svc.cluster.local
POSTGRES_PORT=5432
POSTGRES_DB_AIRFLOW=airflow
POSTGRES_DB_AIRQUALITY=airquality
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_SUPERUSER_PASSWORD=admin

MINIO_ENDPOINT=minio.storage.svc.cluster.local:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=adminadmin
MINIO_SECURE=false
AWS_DEFAULT_REGION=us-east-1

AIRFLOW_CONN_POSTGRES_ID=aq_postgres
AIRFLOW_CONN_MINIO_ID=aq_minio
AIRFLOW_WAIT_TIMEOUT=300s

GIT_SYNC_USERNAME=replace-me-if-private-repo
GIT_SYNC_PASSWORD=replace-me-if-private-repo

AIRFLOW_GIT_SYNC_REPO=https://github.com/CodeRikka/air-quality-monitoring-pipeline.git
AIRFLOW_GIT_SYNC_BRANCH=main
